
    .btn{
        /*display:button;*/
         width:100%;
         height:130px;
         background-color:#ffaa00;
        background-attachment: fixed;
        }
        .hd{
          color:white;
             height:50px;
             padding-top:15px;
             vertical-align:middle;
             text-align:center;
           background-color:#2b1700;
           word-spacing:15px;
          }
       .img1{
       float:left;
       border-radius:20%;
       }
    
       .img2{
       float:right;
       }
    .header{
        width:24%;
        background-color:#993c00;
        border:None;
        color:white;
        padding:12px 16px;
        font-size:16px;
        curser:pointer;
    
        }
    .header:hover{
         background-color:#995f00;
    }
    .b{
    color:white;
       height:50px;
       padding-top:20px;
       vertical-align:middle;
       text-align:center;
     background-color:black;
     word-spacing:15px;
       }
    
       .c{
       height:50px;
       vertical-align:middle;
       text-align:center;
    
       }
       .bottom-left1{
      text-shadow: 2px 2px 5px brown;
      position: absolute;
      bottom: 560px;
      left: 59px;
      font-size:25px;
    }
    #abt{
         background-color:#995f00;
    }
    .a{
    padding:5px;
    text-align:center;
    color:black;
    word-spacing:15px;
    }
    .d{
      text-align:center;
    color:red;
    font-size:25px;
    }
    li{
    color:black;
    }
    .nt{
    color:red;
    font-size:25px;
    font-weight:bold;
    }
    
    .bg{
    width:100%;
    /*background-image:url("images/bgimg.png"); //#ffaa00*/
    background-size: cover;
    position: relative;
    background-size: 100% 100%;
    }
    
    li{
    font-size:20px;
    }
    .img3{
    float:right;
    }
    .tableborder {
      border: 2px solid #6d3402;
  }
    .grideheader {
      background: #c7892b none repeat scroll 0 0;
      color: black;
      font-family: Verdana,Arial,Helvetica,sans-serif;
      font-size: 20px;
      font-weight: bold;
      height: 22px;
      text-decoration: none;
  }
  tbody{
    border-color:black;
  }
  td{
    font-size:15px;
  }
  .griderow1 {
    background: #edd189 none repeat scroll 0 0;
    color: black;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    height: 35px;
}
  .griderow2 {
  background: #efe1c0 none repeat scroll 0 0;
  color: black;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  height: 35px;
  text-decoration: none;
}
footer{
  text-align: center;
  background-color: black;
  color: white;
}
footer a{
  text-decoration: none;
}